.App {
  font-family: sans-serif;
  text-align: center;
}

li {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0.2rem;
  background-color: lightgray;
  border: 1px solid gray;
  margin: 0.2rem;
}

li input {
  flex: 1 0 2rem;
}

li span {
  flex: 2 0 10rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form input {
  line-height: 1.5rem;
  margin: 0.2rem;
}

form .submit-btn {
  flex: 1 0 5rem;
}
